<html>
    <head>
        <title>TeamServer Configuration</title>
        <meta name="decorator" content="atl.admin">
        <meta name="application-base-url" content=$baseUrl>
    </head>
    <body>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h1>TeamServer Profile Setup</h1>
                    <h5>Configure TeamServer Profiles for use in testing.</h5>
                </section>
            </div>
        </div>
        <br>
        <div class="field-group">
            <span id="dropdown-menu" style="display:none">
                <label for="tsprofile">TeamServer Profile: </label>
                <button type = "button" aria-owns="dropdown2-all-in" aria-haspopup="true" class="aui-button aui-dropdown2-trigger" id="profiles-select-button">TeamServer Profiles</button>
                <div id="dropdown2-all-in" class="aui-dropdown2 aui-style-default">
                   <div class="aui-dropdown2-section">
                       <strong>Profiles</strong>
                       <ul id="profile-list"></ul>
                   </div>
                </div>
            </span>
            <button type = "button" class="aui-button" id="new-profile-button">New Profile</button>
        </div>
        <form id="admin-form" class="aui" style="display:none">
            <table class = "aui">
                <thead>
                    <th><h2>Configure Connection</h2></th>
                    <th>
                        <div class="field-group">
                            <input id="test-connection" type="submit" value="Test Connection" class="aui-button">
                        </div>
                    </th>
                </thead>
                <tr>
                    <td>
                        <div class="field-group">
                            <label for="profilename" id="profilename-label">Profile Name:</label>
                            <h2 id="profilename-display" style="display:none"></h2>
                            <input type="text" id="profilename" name="profilename" class="text"/>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field-group">
                        <label for="username">Username: </label>
                        <input type="text" id="username" name="username" class="text" required>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field-group">
                        <label for="apiKey">API Key: </label>
                        <input type="text" id="apiKey" name="apiKey" class="text" required>
                        </div>
                    </td>
                    <td>
                        <div class="field-group">
                            <label for="serviceKey">Service Key: </label>
                            <input type="text" id="serviceKey" name="serviceKey" class="text" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field-group">
                            <label for="url">TeamServer URL: </label>
                            <input type="text" id="url" name="url" class="text">
                            <div class="description">For EOP Customers only. Url will usually end with /Contrast/api</div>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <div class="field-group">
                <label for="servername">Server Name: </label>
                <input type="text" id="servername" name="servername" class="text" required>
            </div>
            <div class="field-group">
                <label for="uuid">Organization UUID: </label>
                <input type="text" id="uuid" name="uuid" class="text" required>
            </div>
            <p class="aui-buttons">
                <div class="field-group">
                    <input id="admin-submit" type="submit" value="Save Changes" class="aui-button aui-button-primary">
                    <button type = "button" class="aui-button" id="profile-delete">Delete Profile</button>
                </div>
            </p>
        </form>
        <br>
        <div id="aui-message-bar"></div>
    </body>
</html>
