<html>
    <head>
        <title>TeamServer Configuration</title>
        <meta name="decorator" content="atl.admin">
        <meta name="application-base-url" content=$baseUrl>

    </head>
    <body>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h1>TeamServer Profile Setup</h1>
                    <h5>Configure TeamServer Profiles for use in testing.</h5>
                </section>
            </div>
        </div>
        <ul>
          #foreach( $finding in $findings )
            <li><span>$finding.type</span><span>$finding.severity</span><span>$finding.buildId</span></li>
          #end
        </ul>
        <h4>$test</h4>
        <div id="stacked-bar-chart">
            <script>

                       var svgContainer = d3.select("#stacked-bar-chart").append("svg")
                                                               .attr("width", 200)
                                                               .attr("height", 200);


                            var circle = svgContainer.append("ellipse")
                                                     .attr("cx", 50)
                                                     .attr("cy", 50)
                                                    .attr("rx", 25)
                                                    .attr("ry", 10);


                   </script>
        </div>
        <h4>After</h4>
        <br>

    </body>

</html>
